.container {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  @apply flex flex-row justify-between items-center;

}

.column {
  @apply text-black text-lg;
}
