.employee-card {
  /* background-color: #c8cace;
  border: 2px solid orange;
  width: 20rem;
  height: 15rem;
  margin-right: 1rem; */
  @apply bg-white rounded-lg m-3 px-5 drop-shadow-2xl text-center;
}

.employee-icon {
  @apply w-56 h-24 rounded-full;
}

.card-label {
  @apply font-normal my-4;
}

.card-value {
  @apply text-2xl my-4;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-button {
  margin-top: 1rem;
  background-color: orange;
}

.image-wrapper {
  @apply rounded-full;
}
